<h1>New project</h1>

<%= render 'form' %>

Students of <%= current_user.email %>

<ul>
	<% @students.each do |student| %>
	  <li><%= student.email %></li>
	<% end %>
</ul>
<%= link_to 'Back', projects_path %>
